*
{
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: var(--font-family);
}
hr
{
    border: 0;
    border-top: 1px solid var(--hr-color);
    margin: 16px 0;
}

/* -- start common layout */

.section-title
{
    color: var(--section-title-fg-color);
    font-size: 14px;
    font-variant: small-caps;
    padding: 20px 0 10px 0;
}
hr + .section-title,
.section-title:first-child
{
    padding-top: 0px;
}
.section .t
{
    color: var(--title-fg-color);
    font-size: 14px;
}
.section .s
{
    color: var(--subtitle-fg-color);
    font-size: 10px;
    padding-bottom: 4px;
}
.section .ts
{
    font-size: 10px;
}
.section a
{
    font: inherit;
    color: inherit;
    text-decoration: none;
    font-variant: proportional-nums;
}
.section a:hover
{
    color: var(--section-link-fg-color);
}
.section-subtitle
{
    color: var(--section-subtitle-fg-color);
    font-size: 12px;
}

.heading
{
    color: var(--heading-fg-color);
    font-size: 14px;
    padding-bottom: 6px;
}

.cols
{
    display: flex;
    flex-wrap: wrap;
}
.cols > div
{
    flex: 1
}

.ctrl
{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid transparent;
}
.ctrl:last-child,
.noctrl:last-child
{
    flex: 1;
}
.noctrl
{
    padding: 5px;
    border: 1px solid transparent;
}
body.authenticated .ctrl:hover
{
    padding: 10px;
    margin: -5px;
    border: 1px solid var(--ctrl-border-color);
}

/* -- end common layout */

/* -- start overall layout -- */

#all
{
    display: flex;
    min-width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--body-bg-color);
}
#nav
{
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 64px;
    max-height: 64px;
    background-color: var(--nav-bg-color);
}
#panel
{
    display: flex;
    flex: 1;
    height: 100%;
    padding-top: 64px;
}
#select
{
    display: flex;
    min-width: 64px;
    flex-direction: column;
    background-color: var(--select-bg-color);
}
#main
{
    display: flex;
    flex: 1;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    overscroll-behavior: contain;
}
#c1
{
    display: flex;
    flex-direction: column;
    min-width: 330px;
    width: 330px;
}
#general
{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}
#location
{
}
#c2
{
    display: flex;
    flex-direction: column;
    flex: 5;
    padding: 20px 15px 0 15px;
    min-width: 420px;
}
#services
{
    display: flex;
    flex-direction: column;
}
#local-and-neighbor-devices
{
}

#c3
{
    display: flex;
    flex-direction: column;
    flex: 4;
    padding: 20px 0 0 5px;
}
#radio-and-antenna
{
    display: flex;
    flex-direction: column;
}
#mesh-summary
{
}
#tunnels
{
    display: flex;
    flex-direction: column;
}
#dhcp
{
    display: flex;
    flex-direction: column;
}

/* -- end overall layout -- */

/* -- start nav layout -- */

.nav-node-name
{
    color: var(--title-fg-color);
    font-size: 24px;
    font-weight: bold;
    margin: auto 0 auto 20px;
}
.nav-status
{
    color: var(--subtitle-fg-color);
    font-size: 12px;
    padding: 8px 0 0 8px;
    margin: auto 0;
}

#changes
{
    padding-left: 90px;
    font-size: 16px;
    color: var(--title-fg-color);
    text-align: center;
}
#changes > div
{
    width: 450px;
    margin-top: 4px;
    padding: 10px;
    border: 2px solid var(--firmware-status-bg-color-positive);
}
#changes button
{
    font: inherit;
    font-size: 12px;
    margin: 0 10px;
    padding: 8px;
    background-color: transparent;
}
#changes button:first-child
{
    border: 2px solid var(--firmware-status-bg-color-positive);
    color: var(--firmware-status-bg-color-positive);
}
#changes button:last-child
{
    border: 2px solid var(--firmware-status-bg-color-negative);
    color: var(--firmware-status-bg-color-negative);
}

/* -- end nav layout -- */

/* -- start general layout -- */

#general .radio-image
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 20px;
}
#general .t
{
    color: var(--title-fg-color);
}
#general .s
{
    color: var(--subtitle-fg-color);
    font-size: 10px;
    padding-bottom: 6px;
}
#general .ts
{
    font-size: 10px;
}

.node-description
{
    padding-bottom: 4px;
}
.node-description .t
{
    font-size: 14px;
}

#general .firmware
{
    font-size: 12px;
}
#general .firmware-status
{
    display: inline-block;
    margin-left: 4px;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    color: var(--firmware-status-fg-color);
}
#general .firmware-status.uptodate
{
    background-color: var(--firmware-status-bg-color-positive);
}
#general .firmware-status.uptodate::after
{
    content: "Up to date";
}
#general .firmware-status.needupdate
{
    background-color: var(--firmware-status-bg-color-negative);
}
#general .firmware-status.needupdate::after
{
    content: "Update available";
}
#general .firmware-status.custom
{
    background-color: var(--firmware-status-bg-color-other);
}
#general .firmware-status.custom::after
{
    content: "Custom";
}

#general .health
{
    padding: 20px 0;
    font-size: 14px;
}

/* -- end general layout -- */

/* -- start location layout -- */

#location .t
{
    color: var(--title-fg-color);
    font-size: 16px;
}
#location .s
{
    color: var(--subtitle-fg-color);
    font-size: 10px;
}
#location .location-image
{
    pointer-events: none;
    width: 300px;
    height: 150px;
    margin-left: 10px;
}
#location .location-image iframe
{
    border: 1px solid var(--hr-color);
}

/* -- end location layout -- */

/* -- start local and neighborhood devices layout -- */

#local-and-neighbor-devices .stats
{
    text-align: right;
    min-width: 260px;
}

#local-and-neighbor-devices .excellent
{
    color: var(--conn-fg-color-excellent);
}
#local-and-neighbor-devices .good
{
    color: var(--conn-fg-color-good);
}
#local-and-neighbor-devices .okay
{
    color: var(--conn-fg-color-okay);
}
#local-and-neighbor-devices .poor
{
    color: var(--conn-fg-color-poor);
}
#local-and-neighbor-devices .bad
{
    color: var(--conn-fg-color-bad);
}
#local-and-neighbor-devices .blocked
{
    color: var(--conn-fg-color-idle);
    text-decoration: line-through;
}
#local-and-neighbor-devices .idle
{
    color: var(--conn-fg-color-idle);
}

/* -- end local and neighborhood devices layout -- */

/* start mesh summary layout */

/* end mesh summary layout */

/* -- start services layout -- */

#services .service
{
    color: var(--service-fg-color);
    font-size: 13px;
    padding: 2px 0;
}
#services .service .status
{
    display: inline-block;
    width: 52px;
    padding: 2px 0;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 10px;
    color: var(--service-fg-color-status);
    background-color: var(--service-bg-color-status-inactive);
}
#services .service .status.inactive
{
    background-color: var(--service-bg-color-status-inactive);
}
#services .service .status.active
{
    background-color: var(--service-bg-color-status-active);
}
#services .service .status.disabled
{
    background-color: var(--service-bg-color-status-disabled);
}
#services .service .status.inactive::after
{
    content: "inactive";
}
#services .service .status.active::after
{
    content: "active";
}
#services .service .status.disabled::after
{
    content: "disabled";
}

/* -- end services layout -- */

/* -- start icons -- */

#nav a
{
    position: relative;
    text-decoration: none;
}
#icon-logo
{
    display: table-cell;
    width: 64px;
    height: 64px;
    background: url("data:image/svg+xml,<svg width='48px' height='48px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;'><g id='Layer1'></g><rect id='Artboard1' x='0' y='0' width='48' height='48' style='fill:none;'/><clipPath id='_clip1'><rect id='Artboard11' serif:id='Artboard1' x='0' y='0' width='48' height='48'/></clipPath><g clip-path='url(%23_clip1)'><path d='M24.567,0.82L47.363,23.568' style='fill:none;stroke:rgb(0,217,255);stroke-width:1px;'/><path d='M23.849,0.93L7.348,39.991' style='fill:none;stroke:rgb(0,217,255);stroke-width:1px;'/><path d='M24.126,0.925L24.033,47.07' style='fill:none;stroke:rgb(0,217,255);stroke-width:1px;'/><path d='M24.121,0.811L40.726,40.248' style='fill:none;stroke:rgb(0,217,255);stroke-width:1px;'/><path d='M7.502,40.382L40.302,40.682' style='fill:none;stroke:rgb(0,217,255);stroke-width:1px;'/><path d='M7.454,40.172L47.099,24.086' style='fill:none;stroke:rgb(0,217,255);stroke-width:1px;'/><path d='M7.32,40.114L40.182,7.488' style='fill:none;stroke:rgb(0,217,255);stroke-width:1px;'/><path d='M40.56,7.604L24.305,46.794' style='fill:none;stroke:rgb(0,217,255);stroke-width:1px;'/><path d='M40.782,7.801L40.988,39.78' style='fill:none;stroke:rgb(0,220,255);stroke-width:1px;'/><path d='M8.318,7.309L40.07,7.239' style='fill:none;stroke:rgb(255,0,0);stroke-width:1px;'/><path d='M7.138,8.344L7.252,39.601L7.255,40.184' style='fill:none;stroke:rgb(255,0,0);stroke-width:1px;'/><path d='M7.554,8.033L23.784,46.998' style='fill:none;stroke:rgb(255,0,0);stroke-width:1px;'/><path d='M7.649,7.62L40.541,40.106' style='fill:none;stroke:rgb(255,0,0);stroke-width:1px;'/><path d='M7.83,7.324L47.123,23.459' style='fill:none;stroke:rgb(255,0,0);stroke-width:1px;'/><path d='M0.734,23.771L46.787,23.815' style='fill:none;stroke:rgb(170,170,170);stroke-width:1px;'/><g transform='matrix(0.991315,0.00364933,0.00364933,0.998467,-0.0861935,0.0362179)'><path d='M0.94,23.433L40.941,7.234' style='fill:none;stroke:rgb(170,170,170);stroke-width:1px;'/></g><path d='M0.667,23.937L40.714,40.079' style='fill:none;stroke:rgb(170,170,170);stroke-width:1px;'/><path d='M0.688,24.263L23.773,47.352' style='fill:none;stroke:rgb(170,170,170);stroke-width:1px;'/><path d='M0.957,23.277L23.631,0.846' style='fill:none;stroke:rgb(170,170,170);stroke-width:1px;'/><g transform='matrix(2.76129,0,0,2.02808,-25.198,-18.9245)'><path d='M17.836,9.563L23.863,12.954L26.36,21.14L23.863,29.326L17.836,32.716L11.808,29.326L9.312,21.14L11.808,12.954L17.836,9.563Z' style='fill:none;stroke:rgb(89,89,89);stroke-width:0.41px;'/></g></g></svg>") center center no-repeat;
    text-align: center;
    vertical-align: bottom;
}
#icon-logo + div
{
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 8px;
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
    color: var(--logo-fg-color);
    background-color: var(--nav-bg-color);
}
#icon-logo.animate
{
    animation-name: logo-rotate;
    animation-duration: 1s;
    xanimation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes logo-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.icon
{
    width: 32px;
    height: 32px;
    margin: 16px;
    filter: var( --icon-filter);
}
.icon:hover,
.icon.true,
#login-icon:hover .icon,
#logout-icon:hover .icon
{
    filter: var(--icon-filter-select);
}
.icon.status
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" /></svg>') center center no-repeat;
}
.icon.mesh
{
    background: url("data:image/svg+xml;utf8,<svg width='100%25' height='100%25' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;'><path d='M3.75,5.25L20.25,5.25M3.75,9.75L20.25,9.75M3.75,14.25L20.25,14.25M3.75,18.75L20.25,18.75' style='fill:none;fill-rule:nonzero;stroke:black;stroke-width:1.5px;'/><path d='M3.75,5.25L3.75,18.75' style='fill:none;stroke:black;stroke-width:1.5px;stroke-miterlimit:1.5;'/><path d='M20.312,5.216L20.278,18.745' style='fill:none;stroke:black;stroke-width:1.5px;stroke-miterlimit:1.5;'/><path d='M9.076,5.277L9.112,18.253' style='fill:none;stroke:black;stroke-width:1.5px;stroke-miterlimit:1.5;'/><path d='M14.704,5.362L14.755,18.382' style='fill:none;stroke:black;stroke-width:1.5px;stroke-miterlimit:1.5;'/></svg>") center center no-repeat;
}
.icon.cloud
{
    background: url("data:image/svg+xml;utf8,<svg width='100%25' height='100%25' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;'><path d='M2.25,15C2.25,17.469 4.281,19.5 6.75,19.5L18,19.5C18.001,19.5 18.003,19.5 18.004,19.5C20.061,19.5 21.754,17.807 21.754,15.75C21.754,14.195 20.786,12.794 19.332,12.243C19.444,11.923 19.502,11.587 19.502,11.248C19.502,9.602 18.148,8.248 16.502,8.248C16.187,8.248 15.874,8.298 15.574,8.395C14.973,6.09 12.876,4.469 10.494,4.469C7.614,4.469 5.244,6.839 5.244,9.719C5.244,10.057 5.276,10.394 5.341,10.725C3.501,11.332 2.25,13.062 2.25,15Z' style='fill:none;fill-rule:nonzero;stroke:black;stroke-width:1.5px;'/><path d='M5.263,10.69L19.065,10.679' style='fill:none;stroke:black;stroke-width:1.5px;stroke-miterlimit:1.5;'/><path d='M2.477,15.484L21.587,15.497' style='fill:none;stroke:black;stroke-width:1.5px;stroke-miterlimit:1.5;'/><path d='M9.047,19.306L9.007,4.848' style='fill:none;stroke:black;stroke-width:1.5px;stroke-miterlimit:1.5;'/><path d='M14.696,19.208L14.677,6.587' style='fill:none;stroke:black;stroke-width:1.5px;stroke-miterlimit:1.5;'/></svg>") center center no-repeat;
}
.icon.tools
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" /></svg>') center center no-repeat;
}
.icon.login
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" /></svg>') center center no-repeat;
}
.icon.login.authenticated
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" /></svg>') center center no-repeat;
}
.icon.map
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" /></svg>') center center no-repeat;
}

/* -- end icons -- */

/* login start */

#login-icon,
#logout-icon
{
    position: relative;
}
#login-icon .menu,
#logout-icon .menu
{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 64px;
    text-align: right;
    font-size: 14px;
}
#login-icon .menu > div,
#logout-icon .menu > div
{
    padding: 12px 20px;
    color: var(--login-menu-fg-color);
    background-color: var(--nav-bg-color);
}
#login-icon:hover .menu,
#logout-icon:hover .menu
{
    display: block;
}
#login-icon .menu > div:hover,
#logout-icon .menu > div:hover
{
    color: var(--login-menu-fg-select-color);
}

#login
{
    font: inherit;
    font-size: 16px;
    padding: 50px;
    color: var(--login-fg-color);
    border: 2px solid var(--login-border-color);
    border-radius: 20px;
    background-color: var(--login-bg-color);
}
#login input {
    color: inherit;
    margin: 0 10px;
}
#login button {
    font: inherit;
    font-size: 12px;
    color: inherit;
}
#login::backdrop
{
    background-color: var(--login-backdrop-color);
}

/* login end */

/* ctrls start */

#ctrl-modal dialog
{
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 16px;
    height: 80%;
    width: 600px;
    padding: 40px;
    border: 1px solid var(--ctrl-modal-border-color);
    background-color: var(--ctrl-modal-bg-color);
    border-radius: 10px;
}
#ctrl-modal dialog::backdrop
{
    background-color: var(--ctrl-modal-backdrop-color);
}
#ctrl-modal dialog > div:first-child
{
    flex: 0;
}
#ctrl-modal dialog > div:nth-child(2)
{
    flex: 1;
    overflow-y: scroll;
    overscroll-behavior: contain;
    padding: 0 10px;
}
#ctrl-modal dialog > div:last-child
{
    flex: 0;
}
#ctrl-modal dialog .t
{
    font-size: 24px;
    color: var(--ctrl-modal-fg-title-color);
}
#ctrl-modal dialog .s
{
    font-size: 12px;
    color: var(--ctrl-modal-fg-subtitle-color);
}
.ctrl-modal-footer button:last-child
{
    float: right;
}
.ctrl-modal-advanced
{
    display: flex;
    padding: 20px 0;
}
.ctrl-modal-advanced hr
{
    flex: 1;
    border-color: var(--ctrl-modal-advance-options-color);
}
.ctrl-modal-advanced button
{
    margin-left: -8px;
    font: inherit;
    font-size: 16px;
    color: var(--ctrl-modal-advance-options-color);
    border: 0;
    background-color: transparent;
}
.ctrl-modal-advanced button:hover
{
    color: var(--ctrl-modal-textbox-fg-color);
}
.ctrl-modal-advanced + div
{
    display: none;
}
.ctrl-modal-advanced.active + div
{
    display: block;
}

#ctrl-modal dialog .o
{
    color: var(--ctrl-modal-fg-option-color);
    font-size: 16px;
}
#ctrl-modal dialog .m
{
    color: var(--ctrl-modal-fg-message-color);
    font-size: 12px;
    padding: 4px 0 10px 0;
}
#ctrl-modal dialog .help
{
    color: var(--ctrl-modal-fg-help-color);
    font-size: 12px;
    padding: 0px 40px 20px 10px;
}

#ctrl-modal dialog input[type=text],
#ctrl-modal dialog input[type=password]
{
    color: var(--ctrl-modal-textbox-fg-color);
    background-color: var(--ctrl-modal-textbox-bg-color);
    border: 1px solid var(--ctrl-modal-textbox-border-color);
    padding: 5px;
    margin-top: 2px;
    border-radius: .2em;
    outline: none;
    font: inherit;
    font-size: 14px;
    text-align: right;
}
#ctrl-modal dialog input[type=text]:invalid,
#ctrl-modal dialog input[type=password]:invalid
{
    border-color: var(--ctrl-modal-border-color-error) !important;
}

#ctrl-modal dialog select
{
    font: inherit;
    font-size: 14px;
    appearance: none;
    outline: none;
    padding: 5px 5px 5px 10px;
    border: 1px solid var(--ctrl-modal-textbox-border-color);
    border-radius: .2em;
    direction: rtl;
}
#ctrl-modal dialog select option
{
    direction: ltr;
}

#ctrl-modal dialog textarea
{
    font: inherit;
    font-size: 12px;
    border: 1px solid var(--ctrl-modal-textbox-border-color);
    background-color: var(--ctrl-modal-textbox-bg-color);
    padding: 5px;
    outline: none;
    resize: none;
}

#ctrl-modal dialog button
{
    margin-top: 4px;
    min-width: 24px;
    height: 23px;
    border-radius: 8px;
    background-color: var(--ctrl-modal-textbox-bg-color);
    border: 1px solid var(--ctrl-modal-textbox-border-color);
}
#ctrl-modal dialog button:hover
{
    background-color: var(--ctrl-modal-bg-secondary-color);
}
#ctrl-modal dialog button:disabled
{
    border-color: var(--ctrl-modal-fg-help-border-color);
}
   
.switch input[type=checkbox]
{
    appearance: none;
    height: 2rem;
    width: 3.5rem;
    background-color: var(--ctrl-modal-textbox-bg-color);
    border: 1px solid var(--ctrl-modal-textbox-border-color);
    position: relative;
    border-radius: .2em;
    cursor: pointer;
    outline: none;
    margin-right: 0;
}
   
.switch input[type=checkbox]::before
{
    content: "";
    display: block;
    height: 1.9em;
    width: 1.9em;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(1.9em/2 + .3em);
    background-color: var(--service-bg-color-status-disabled);
    border-radius: .2em;
    transition: .3s ease;
}
.switch.inactive input[type=checkbox]::before
{
    background-color: var(--service-bg-color-status-inactive);
}
   
.switch input[type=checkbox]:checked::before
{
    background-color: var(--service-bg-color-status-active);
    left: calc(100% - (1.9em/2 + .3em));
}

/* ctrls end */

/* reboot start */

#reboot
{
    color: white;
}

/* reboot end */

/* dialog customization start */

#ctrl-modal dialog .hideable:has(> div:first-child input[type='checkbox']:not(:checked)) > .hideable0
{
    display: none;
}

#ctrl-modal dialog .hideable:has(> div:first-child select > option) > .hideable0,
#ctrl-modal dialog .hideable:has(> div:first-child select > option) > .hideable1,
#ctrl-modal dialog .hideable:has(> div:first-child select > option) > .hideable2,
#ctrl-modal dialog .hideable:has(> div:first-child select > option) > .hideable3,
#ctrl-modal dialog .hideable:has(> div:first-child select > option) > .hideable4
{
    display: none;
}
#ctrl-modal dialog .hideable:has(> div:first-child select > option[value="0"]:checked) > .hideable0,
#ctrl-modal dialog .hideable:has(> div:first-child select > option[value="1"]:checked) > .hideable1,
#ctrl-modal dialog .hideable:has(> div:first-child select > option[value="2"]:checked) > .hideable2,
#ctrl-modal dialog .hideable:has(> div:first-child select > option[value="3"]:checked) > .hideable3,
#ctrl-modal dialog .hideable:has(> div:first-child select > option[value="4"]:checked) > .hideable4
{
    display: block;
}

#location-edit-map iframe
{
    width: 100%;
    height: 200px;
    border: 1px solid var(--hr-color);
    margin-bottom: 16px;
}

/* dialog customization end */

/* meshpage start */

#meshfilter
{
    padding-top: 30px;
    display: flex;
}
#meshfilter input
{
    width: 300px;
    outline: none;
    border: 1px solid var(--meshpage-input-border-color);
    font: inherit;
    padding: 5px;
}
#meshfilter button
{
    padding: 5px 10px;
    border: 1px solid var(--meshpage-input-border-color);
    background-color: transparent;
    font: inherit;
    color: var(--meshpage-input-border-color);
}
#meshfilter button:hover
{
    background-color: var(--meshpage-node-bg-color-hover);
}
#meshpage
{
    padding: 40px 60px;
    font-size: 14px;
}
#meshpage .block
{
    display: flex;
    flex-flow: wrap;
    padding: 30px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    border-width: 2px;
    border-style: solid;
}
#meshpage .block:empty
{
    display: none;
}
#meshpage .node
{
    width: 50%;
    padding: 2px 20px;
    border-radius: 10px;
}
#meshpage .node:hover
{
    background-color: var(--meshpage-node-bg-color-hover);
}
#meshpage .node .etx
{
    font-size: 10px;
    color: var(--meshpage-etx-fg-color);
    padding-left: 6px;
}
#meshpage .lanhosts
{
    font-size: 13px;
    padding: 4px 0 6px 0;
}
#meshpage .host,
#meshpage .lanhost
{
    display: flex;
}
#meshpage .host .name,
#meshpage .lanhost .name
{
    flex: 1;
}
#meshpage .host .name a
{
    text-decoration: none;
    color: var(--meshpage-hostname-fg-color);
}
#meshpage .host .name a:hover
{
    text-decoration: underline;
}
#meshpage .services
{
    flex: 1;
    font-size: 13px;
}
#meshpage .service
{
    white-space: nowrap;
}
#meshpage .service a,
#meshpage .service span
{
    text-decoration: none;
    color: inherit;
    white-space: normal;
}
#meshpage .service a:hover
{
    text-decoration: underline;
    color: var(--meshpage-service-hover-fg-color);
}
#meshpage .service div
{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4"><path fill-rule="evenodd" d="M8.914 6.025a.75.75 0 0 1 1.06 0 3.5 3.5 0 0 1 0 4.95l-2 2a3.5 3.5 0 0 1-5.396-4.402.75.75 0 0 1 1.251.827 2 2 0 0 0 3.085 2.514l2-2a2 2 0 0 0 0-2.828.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" /><path fill-rule="evenodd" d="M7.086 9.975a.75.75 0 0 1-1.06 0 3.5 3.5 0 0 1 0-4.95l2-2a3.5 3.5 0 0 1 5.396 4.402.75.75 0 0 1-1.251-.827 2 2 0 0 0-3.085-2.514l-2 2a2 2 0 0 0 0 2.828.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" /></svg>') center center no-repeat;
}
.meshpage-help
{
    display: none;
    padding: 40px 120px 0 120px;
}
.meshpage-help.visible
{
    display: block;
    color: var(--ctrl-modal-fg-help-color);
    font-size: 12px;
}
.block1
{
    border-color: var(--meshpage-block1-border-color);
}
.block2
{
    border-color: var(--meshpage-block2-border-color);
}
.block3
{
    border-color: var(--meshpage-block3-border-color);
}
.block5
{
    border-color: var(--meshpage-block5-border-color);
}
.block10
{
    border-color: var(--meshpage-block10-border-color);
}
.block10000
{
    border-color: var(--meshpage-block1000-border-color);
}

#meshpage.filtering .service,
#meshpage.filtering .lanhost,
#meshpage.filtering .node,
#meshpage.filtering .block
{
    display: none;
}
#meshpage.filtering .service.valid,
#meshpage.filtering .node:has(.service.valid),
#meshpage.filtering .node:has(.lanhost.valid),
#meshpage.filtering .node:has(.host.valid)
{
    display: block;
}
#meshpage.filtering .lanhost:has(.service.valid),
#meshpage.filtering .lanhost.valid,
#meshpage.filtering .block:has(.service.valid),
#meshpage.filtering .block:has(.lanhost.valid),
#meshpage.filtering .block:has(.host.valid)
{
    display: flex;
}

/* meshpage end

/* dhcp start */

#ctrl-modal dialog .reservation input[type=text]:first-child,
#ctrl-modal dialog .lease input:first-child,
#ctrl-modal dialog .reservation-label div:first-child div:first-child,
#ctrl-modal dialog .lease-label div:first-child div:first-child
{
    width: 155px;
    border-color: var(--ctrl-modal-textbox-bg-color);
}
#ctrl-modal dialog .reservation select:nth-child(2),
#ctrl-modal dialog .lease input:nth-child(2),
#ctrl-modal dialog .reservation-label div:first-child div:nth-child(2),
#ctrl-modal dialog .lease-label div:first-child div:nth-child(2)
{
    width: 120px;
    border-color: var(--ctrl-modal-textbox-bg-color);
}
#ctrl-modal dialog .reservation input:nth-child(3),
#ctrl-modal dialog .lease input:nth-child(3),
#ctrl-modal dialog .reservation-label div:first-child div:nth-child(3),
#ctrl-modal dialog .lease-label div:first-child div:nth-child(3)
{
    width: 130px;
    border-color: var(--ctrl-modal-textbox-bg-color);
}
#ctrl-modal dialog .reservation-label div:first-child div:nth-child(4)
{
    white-space: normal;
    width: 50px;
    text-align: center;
}
#ctrl-modal dialog .reservation input[type=checkbox]
{
    width: 14px;
    height: 14px;
    accent-color: var(--ctrl-modal-checkbox-color);
    margin-left: 18px;
}
#ctrl-modal dialog .reservation-label div:first-child div,
#ctrl-modal dialog .lease-label div:first-child div
{
    display: inline-block;
    font-size: 10px;
    text-align: right;
    color: var(--ctrl-modal-fg-message-color);
}
#dhcp-reservations + div
{
    display: none;
}
#dhcp-reservations:has(> :last-child:nth-child(1)) + div
{
    display: block;
}
#dhcp-reservations:has(> :last-child:nth-child(1))
{
    display: none;
}
#dhcp-reservations
{
    display: block;
}

/* dhcp end */

/* neighbors start */

#ctrl-modal dialog .neighbor
{
    padding-bottom: 16px;
}
#ctrl-modal dialog .neighbor a
{
    font: inherit;
    color: inherit;
    text-decoration: none;
}
#ctrl-modal dialog .neighbor a:hover
{
    color: var(--section-link-fg-color);
}
#ctrl-modal dialog .neighbor .o
{
    font-size: 20px;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 4px;
    background-color: var(--ctrl-modal-bg-secondary-color);
}
#ctrl-modal dialog .neighbor > div:not(.o)
{
    padding-left: 7px;
}
#ctrl-modal dialog .neighbor .i
{
    padding-top: 4px;
    font-size: 14px;
}
#ctrl-modal dialog .neighbor .i div:last-child
{
    font-size: 12px;
    color: var(--subtitle-fg-color);
}
#ctrl-modal dialog .neighbor select
{
    padding: 2px 4px;
    vertical-align: top;
    float: right;
    border-color: var(--subtitle-fg-color);
}

/* neighbors end */

/* service start */

#service-templates,
#host-aliases-add
{
    padding-bottom: 10px;
}
#local-services:empty::after,
#host-aliases:empty::after
{
    position: relative;
    top: 6px;
    left: 10px;
    content: "None";
    color: var(--ctrl-modal-fg-subtitle-color);
}
#local-services .service
{
    padding-top: 20px;
}
#local-services .service .cols:first-child input
{
    flex: 1;
    margin-right: 4px;
}
#local-services .service .cols:first-child > .cols
{
    flex: 1;
    padding-right: 10px;
}
#local-services .service .cols:first-child > div select
{
    position: relative;
    top: 2px;
}
#local-services .service .cols:last-child div:nth-child(2)
{
    white-space: nowrap;
    padding-right: 34px;
    font-size: 10px;
}
#local-services .service .cols:last-child input:first-child,
#local-services .service .cols:last-child input:nth-child(3)
{
    width: 50px;
}
#ctrl-modal dialog #local-services .service input[type=text],
#ctrl-modal dialog #local-services .service select
{
    border-color: var(--ctrl-modal-textbox-bg-color);
    text-align: left;
}
#ctrl-modal dialog #local-services .service .cols:last-child input[type=text],
#ctrl-modal dialog #local-services .service .cols:last-child select
{
    font-size: 12px;
}
#ctrl-modal dialog #host-aliases .cols input
{
    flex: 1;
    margin-right: 6px;
    text-align: left;
}
#ctrl-modal dialog #host-aliases .cols div
{
    flex: 0;
    position: relative;
    top: 2px;
    padding-right: 6px;
}

/* services end */
