*
{
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: var(--font-family);
}
hr
{
    border: 0;
    border-top: 1px solid var(--hr-color);
    margin: 16px 0;
}

/* -- start common layout */

.section-title
{
    color: var(--section-title-fg-color);
    font-size: 14px;
    padding: 20px 0 10px 0;
}
hr + .section-title,
.section-title:first-child
{
    padding-top: 0px;
}
.section .t
{
    color: var(--title-fg-color);
    font-size: 14px;
}
.section .s
{
    color: var(--subtitle-fg-color);
    font-size: 10px;
    padding-bottom: 4px;
}
.section .ts
{
    font-size: 10px;
}
.section a
{
    font: inherit;
    color: inherit;
    text-decoration: none;
}
.section a:hover
{
    color: var(--section-link-fg-color);
}

.heading
{
    color: var(--heading-fg-color);
    font-size: 14px;
    padding-bottom: 6px;
}

.cols
{
    display: flex;
}
.cols > div
{
    flex: 1
}

/* -- end common layout */

/* -- start overall layout -- */

#all
{
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    background-color: var(--body-bg-color);
}
#nav
{
    display: flex;
    min-height: 64px;
    background-color: var(--nav-bg-color);
}
#panel
{
    display: flex;
    flex: 1;
}
#select
{
    display: flex;
    min-width: 64px;
    flex-direction: column;
    background-color: var(--select-bg-color);
}
#main
{
    display: flex;
    flex: 1;
    padding: 10px;
}
#c1
{
    display: flex;
    flex-direction: column;
    min-width: 330px;
    width: 330px;
    border-right: 1px solid var(--hr-color);
}
#general
{
    flex: 1;
    padding: 10px;
}
#location
{
    padding: 10px;
}
#c2
{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
    min-width: 420px;
}
#services
{
    flex: 2;
}
#local-and-neighbor-devices
{
    flex: 4;
}
#c3
{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 10px;
}
#c3r1
{
    display: flex;
    flex: 2;
}
#radio-and-antenna
{
    flex: 1;
}
#tunnels
{
    flex: 1;
}
#dhcp
{
    flex: 1;
}

/* -- end overall layout -- */

/* -- start nav layout -- */

.nav-node-name
{
    color: var(--title-fg-color);
    font-size: 24px;
    font-weight: bold;
    margin: auto 0 auto 20px;
}
.nav-status
{
    color: var(--subtitle-fg-color);
    font-size: 12px;
    padding: 8px 0 0 8px;
    margin: auto 0;
}

/* -- end nav layout -- */

/* -- start general layout -- */

#general .radio-image
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 20px;
}
#general .t
{
    color: var(--title-fg-color);
}
#general .s
{
    color: var(--subtitle-fg-color);
    font-size: 10px;
    padding-bottom: 6px;
}
#general .ts
{
    font-size: 10px;
}

.node-description
{
    padding-bottom: 4px;
}
.node-description .t
{
    font-size: 14px;
}

#general .firmware
{
    font-size: 12px;
}
#general .firmware-status
{
    display: inline-block;
    margin-left: 4px;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    color: var(--firmware-status-fg-color);
}
#general .firmware-status.uptodate
{
    background-color: var(--firmware-status-bg-color-positive);
}
#general .firmware-status.uptodate::after
{
    content: "Up to date";
}
#general .firmware-status.needupdate
{
    background-color: var(--firmware-status-bg-color-negative);
}
#general .firmware-status.needupdate::after
{
    content: "Update available";
}
#general .firmware-status.custom
{
    background-color: var(--firmware-status-bg-color-other);
}
#general .firmware-status.custom::after
{
    content: "Custom";
}

#general .health
{
    padding: 20px 0;
    font-size: 14px;
}

/* -- end general layout -- */

/* -- start location layout -- */

#location .t
{
    color: var(--title-fg-color);
    font-size: 16px;
}
#location .s
{
    color: var(--subtitle-fg-color);
    font-size: 10px;
}
#location img
{
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
}
#location img:hover
{
    border-color: var(--section-link-fg-color);
}

/* -- end location layout -- */

/* -- start local and neighborhood devices layout -- */

#local-and-neighbor-devices .stats
{
    text-align: right;
    min-width: 260px;
}

#local-and-neighbor-devices .excellent
{
    color: var(--conn-fg-color-excellent);
}
#local-and-neighbor-devices .good
{
    color: var(--conn-fg-color-good);
}
#local-and-neighbor-devices .okay
{
    color: var(--conn-fg-color-okay);
}
#local-and-neighbor-devices .poor
{
    color: var(--conn-fg-color-poor);
}
#local-and-neighbor-devices .bad
{
    color: var(--conn-fg-color-bad);
}
#local-and-neighbor-devices .blocked
{
    color: var(--conn-fg-color-idle);
    text-decoration: line-through;
}
#local-and-neighbor-devices .idle
{
    color: var(--conn-fg-color-idle);
}

/* -- end local and neighborhood devices layout -- */

/* -- start services layout -- */

#services .service
{
    color: var(--service-fg-color);
    font-size: 13px;
    padding: 2px 0;
}
#services .service .status
{
    display: inline-block;
    width: 52px;
    padding: 2px 0;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 10px;
    color: var(--service-fg-color-status);
    background-color: var(--service-bg-color-status-inactive);
}
#services .service .status.inactive
{
    background-color: var(--service-bg-color-status-inactive);
}
#services .service .status.active
{
    background-color: var(--service-bg-color-status-active);
}
#services .service .status.disabled
{
    background-color: var(--service-bg-color-status-disabled);
}
#services .service .status.inactive::after
{
    content: "inactive";
}
#services .service .status.active::after
{
    content: "active";
}
#services .service .status.disabled::after
{
    content: "disabled";
}

/* -- end services layout -- */

/* -- start icons -- */

.icon-logo
{
    width: 48px;
    height: 48px;
    margin: 8px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" /></svg>') center center no-repeat;
}
.icon
{
    width: 32px;
    height: 32px;
    margin: 16px;
    filter: var( --icon-filter);
}
.icon:hover
{
    filter: var(--icon-filter-select);
}
.icon.status
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" /></svg>') center center no-repeat;
}
.icon.mesh
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" /></svg>') center center no-repeat;
}
.icon.cloud
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15a4.5 4.5 0 0 0 4.5 4.5H18a3.75 3.75 0 0 0 1.332-7.257 3 3 0 0 0-3.758-3.848 5.25 5.25 0 0 0-10.233 2.33A4.502 4.502 0 0 0 2.25 15Z" /></svg>') center center no-repeat;
}
.icon.tools
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" /></svg>') center center no-repeat;
}
.icon.login
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" /></svg>') center center no-repeat;
}

/* -- end icons -- */
